/**************************** helpers ****************************/

.subtitle {
    font-family: 'Muli', sans-serif;
    font-size: 18px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 25px;
    color: #ffffff;
}

.main-title {
    font-family: 'Montserrat', sans-serif;
    font-size: 60px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #ffffff;
}

.white-blue-btn {
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Muli', sans-serif;
    font-size: 15px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 8px;
    color: #067eb8;
    border: solid 2px rgba(169, 202, 218, 0.8);
    padding: 10px 30px;
    background-color: #fff;
}

.vertical-blue-line {
    position: absolute;
    border-right: 2px solid #067eb8;
    top: 9px;
    left: -30px;
    height: calc(100% + 180px);
}

.blue-end-circle {
    position: absolute;
    top: 100%;
    left: calc(50% - 26px);
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: 3px solid #067eb8;
}

.vertical-blue-line .blue-spot {
    position: absolute;
    left: calc(50% - 4px);
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: #067eb8;
}


/**************************** main ****************************/

.header-section {
    width: 100%;
    height: 880px;
    mix-blend-mode: luminosity;
    background-image: linear-gradient(to top, rgba(11, 58, 90, 0.85), rgba(0, 94, 162, 0.2));
    display: flex;
    position: relative;
}

.header-section header {
    display: flex;
    justify-content: space-between;
    position: absolute;
    width: 100%;
}

.logo-block {
    width: 281px;
    height: 128px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-menu {
    margin-right: 66px;
    margin-top: 60px;
}

.menu-line {
    position: relative;
    display: block;
    width: 25px;
    height: 3px;
    margin: 0px auto 5px auto;
    background-color: #333333;
}

.center-title-block {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    width: 100%;
}

.horizontal-blue-line {
    width: 50px;
    height: 3px;
    opacity: 0.8;
    background-color: #067eb8;
    margin-top: 30px;
    margin-bottom: 19px;
}


/**************************** One article section ****************************/

.section-title {
    font-family: Montserrat;
    font-size: 45px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #1e2129;
    margin-top: 100px;
}

.long-horizontal-blue-line {
    width: 100px;
    height: 2px;
    opacity: 0.8;
    background-color: #067eb8;
    margin-top: 48px;
    margin-bottom: 97px;
}

.one-article-section .layer-wrap {
    padding: 83px 95px;
}

.img-and-layer {
    display: flex;
    justify-content: center;
    position: relative;
}

.img-and-layer img {
    margin-left: 211px;
}

.layer {
    position: absolute;
    display: flex;
    flex-direction: column;
    margin-left: -20%;
    top: 20%;
    width: 618px;
    height: 390px;
    border-radius: 5px;
    box-shadow: 0 2px 45px 0 rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
}

.layer-date {
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.69;
    letter-spacing: normal;
    color: #0d0909;
    font-family: 'Muli', sans-serif;
}

.layer-author {
    font-family: 'Montserrat', sans-serif;
    font-size: 22px;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #067eb8;
    margin-top: 10px;
    margin-bottom: 20px;
}

.layer-author span {
    font-weight: bold;
}

.layer-text {
    font-family: Montserrat;
    font-size: 25px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #0d0909;
    margin-bottom: 60px;
}


/**************************** Articles section ****************************/

.articles-wrap {
    position: relative;
}

.articles-section .section-title {
    margin-bottom: 95px;
}

.one-article {
    height: 100%;
    position: relative;
}

.one-article-main {
    width: 40%;
    height: 100%;
}

.one-article-right {
    margin-left: calc(50% + 30px);
}

.blue-rectangle-wrap {
    position: relative;
    height: 100%;
}

.blue-rectangle-bg {
    position: absolute;
    left: 60px;
    width: 160px;
    height: calc(100% + 135px);
    top: -105px;
    background-color: #f7f8fc;
    z-index: -1;
}

.one-article-content-wrap {
    position: relative;
    width: 100%;
}

.one-article-content {
    position: relative;
    margin-bottom: 180px;
}

.article-date {
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.69;
    letter-spacing: normal;
    color: #0d0909;
    font-family: 'Muli', sans-serif;
}

.article-author {
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #067eb8;
    margin-top: 10px;
    margin-bottom: 20px;
}

.article-author span {
    font-weight: bold;
}

.article-text {
    font-family: 'Montserrat', sans-serif;
    font-size: 45px;
    font-weight: bold;
    color: #0d0909;
    margin-bottom: 70px;
    margin-left: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 45px 0 rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
    width: 52%;
    padding: 50px 60px 50px 40px;
    position: relative;
}

.one-article-content .white-blue-btn {
    margin-left: 20px;
}

.one-article-quote-wrap {
    position: relative;
    height: 100%;
}

.one-article-quote {
    width: 40%;
}

.left {
    text-align: right;
    position: absolute;
    right: calc(50% + 100px);
    top: 0;
}

.top-quote-mark {
    width: 61px;
    height: 61px;
    position: absolute;
}

.quote-inner-wrap {
    position: relative;
}

.top-quote-mark-wrap {
    position: relative;
}

.bottom-quote-mark-wrap {
    position: relative;
}

.bottom-quote-mark {
    width: 61px;
    height: 61px;
    transform: rotate(180deg);
    position: absolute;
    margin-top: 50px;
    right: 0;
}

.one-article-quote .quote-text {
    font-family: 'Muli', sans-serif;
    font-size: 24px;
    line-height: 1.67;
    color: #1e2129;
    width: 70%;
    position: absolute;
    right: 0;
}

.one-article-quote .quote-text .quote {
    position: absolute;
    top: calc(61px + 50px);
}

.one-article-left {
    text-align: right;
    margin-left: calc(10% - 30px);
}

.one-article-left .one-article-content {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
}

.one-article-left .article-text {
    margin-right: 20px;
    width: 65%;
}

.one-article-left .white-blue-btn {
    margin-right: 20px;
}

.one-article-left .vertical-blue-line {
    left: calc(100% + 30px);
}

.one-article-left .blue-rectangle-bg {
    left: calc(100% - 220px);
    height: calc(100% - 40px);
    top: -30px;
}

.right {
    left: calc(50% + 100px);
}

.one-article-picture {
    text-align: right;
    position: absolute;
    top: 0;
    width: 35%;
}

.one-article-picture img {
    width: 100%;
}

.picture-blue-rectangle-bg {
    position: absolute;
    top: -30px;
    left: calc(50% + 60px);
    height: 65%;
    width: 100%;
    background-color: #f7f8fc;
}

.one-picture-wrap-left .picture-blue-rectangle-bg {
    left: 0;
    width: calc(50% - 60px);
}

.one-article-quote.right {
    position: absolute;
    top: 0;
}

.one-article-quote.right .one-article-quote-wrap .quote-text {
    left: 0;
}